{
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "cursorOffset": -1,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "auto",
  "printWidth": 100,
  "semi": true
}
